
.ag-panel {
	padding: 0.01em;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.ag-collapsible {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ag-collapsible-header {
	
}

.ag-cur-pointer {
   cursor: pointer;
}

.ag-collapsible-body {
  padding: 1rem;
  border-style: solid solid solid none;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px; 
}

span.ag-badge {
  min-width: 1.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  margin-right: 5px;
  font-size: 1rem;
  line-height: 20px;
  height: 20px;
  float: left;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 0.41rem;
  white-space: nowrap;
}

span.ag-header-badge {
  min-width: 1.5rem;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  margin-right: 5px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  float: left;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-top-right-radius:0.41rem;
  border-bottom-right-radius:0.41rem;
}

.ag-cklst-body {
   border-left-style:solid;
   border-left-width:3px;
   border-left-color:rgba(93, 102, 93, 0.7);
   background-color:transparent;
   /*rgba(19, 183, 16, 0.5);*/
}


.ag-step-color {
	background-color: rgba(93, 102, 93, 0.5);
}

.ag-cstep-color {
	background-color: rgba(93, 2, 93, 0.5);
}

.ag-sec-color {
	background-color: rgba(199, 17, 17, 0.6);;
}

.ag-sec-body {
   border-left-style:solid;
   border-left-width:3px;
   border-left-color:rgba(199, 17, 17, 0.6);
   background-color:transparent;
   /*rgba(19, 183, 16, 0.4);*/
}

.ag-step-body {
   border-left-style:solid;
   border-left-width:2px;
   border-left-color:rgba(93, 102, 93, 0.5);
   background-color: white;
   margin-left:1rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

/* Used in function helpers.navigateToElement */
@keyframes ag-bg-transition-nav {
  0% {background-color: orange;}
  100% {background-color: transparent;}
}

#cklstNavigationTree {
 list-style-type: none;
 padding-left: 1rem;
 padding-right:0;
 line-height: 1.6rem;
 width: 500px;
 font-size: 13px;
}

#cklstNavigationTree ul li {
  line-height: 1.6rem;
  list-style-type: none;
  margin-left: 2rem;
}

#cklstNavigationTree a:hover {
  text-decoration: underline;
}

.cklstNavigationContainer {
	/*white-space: nowrap;*/
	overflow-x: hidden;
	border-right: 2px dotted grey;
	overflow-y: auto;
	/*max-height: calc(100% - 30px);*/
}

.cklstNavigationContainer:hover {
	position: absolute;
	z-index: 1000;
	border-right: initial;
}

@media only screen and (max-width: 600px) {
    .cklstNavigationContainer {
        border-right: initial;
    }
    #cklstNavigationTree {
        width: initial;
    }
    .cklstNavigationContainer:hover {
	    position: initial;
    }

}

.ag-variable {
	border: 1px solid lightgray;
    /* border-radius: 6px; */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 1px 1px 3px lightgrey;
}

.ag-variables-list-title td {
	border-bottom: 1px solid lightgray;
	font-size: 13px;
	text-align: center;
}

.ag-variables-list {
	border: 1px solid lightgray;
	width: 0%;
}

.ag-variables-list tr {
   cursor: context-menu;
}

.ag-variables-list tr td pre {
   	padding: 0px;
	margin: 0px;
}

.ag-variables-list tr td {
	border-right: 1px solid lightgray;
   	padding-left: 10px;
   	padding-right: 10px;
   	padding-top: 0px;
   	padding-bottom: 0px;
	margin: 0px;
}

.ag-variables-title {
	margin: 3px;
	font-size: 0.7rem;
}

.ag-variables-links {
	border: 1px solid lightgray;
}

.ag-variables-links tr {
	border-bottom: 1px solid lightgray;
}

.ag-variables-links tr:hover {
	background-color: #f4f5f7;
}

.ag-variables-links tr td {
	width: 10px;
	font-size: 0.7rem;
	padding: 2px;
	margin: 2px;
}

.ag-section-header {
	font-size: 18px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.ag-cstep-marker {
	color: white;
	font-size: 12px;
	padding: 0.2rem;
	padding-left: 1rem;
}

.ag-input-color {
	background-color: rgba(1, 82, 23, 0.5);
}

.ag-input-marker {
	color: white;
	font-size: 12px;
	padding: 0.2rem;
	padding-left: 1rem;
}

.ag-input-container {
	border-style: solid;
	border-width: 0.2rem;
	padding: 0px;
	border-color: rgba(1, 82, 23, 0.5);
}

.ag-input-body {
	padding: 0.3rem;
	padding-left: 0.7rem;
}

.ag-input-var {
    border-style: solid;
	border-width: 0.2rem;
	margin: 0.2rem;
	padding: 0.1rem;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	display: inline-table;
	border-color: rgba(1, 82, 23, 0.5);	
}

.ag-goto-color {
	background-color: rgba(38, 116, 242, 0.5);
}

.ag-goto-marker {
	color: white;
	font-size: 12px;
	padding: 0.2rem;
	padding-left: 1rem;
}

.ag-goto-container {
	border-style: solid;
	border-width: 0.2rem;
	padding: 0px;
	border-color: rgba(38, 116, 242, 0.5);
}

.ag-goto-body {
	padding: 0.3rem;
	padding-left: 0.7rem;
}

.ag-repeat-color {
	background-color: rgba(28, 56, 172, 0.5);
}

.ag-repeat-marker {
	color: white;
	font-size: 12px;
	padding: 0.2rem;
	padding-left: 1rem;
}

.ag-repeat-container {
	border-style: solid;
	border-width: 0.2rem;
	padding: 0px;
	border-color: rgba(28, 56, 172, 0.5);
}

.ag-repeat-body {
	padding: 0.3rem;
	padding-left: 0.7rem;
}

.ag-link {
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  margin: 8px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
  display: inline-block;
  font-family: Roboto, sans-serif;
}

.ag-grid {
  display: grid;
}

/* display:inline-table is required to let parent div (Popup window) to expand as child expands. 
 Parent div must have display:table in its style */
.ag-popup {
  display: inline-table;
}

.ag-card-grid-standard-popup {  
   grid-template-rows: 50px auto 50px;
   height: 100%;
}

.ag-grid-item-popup-footer {
   grid-row: 3 / 4;
   justify-self: end;
   align-items: center;
   display:flex;
   justify-content: flex-end;
   padding-right: 15px;
}

.ag-grid-item-popup-header {
   grid-row: 1 / 2;
   padding: 24px;
}

.ag-grid-item-popup-body {
   grid-row: 2 / 3;
   justify-self: stretch;
}

.ag-capitalize {
  text-transform: capitalize;
}